/* Default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 500px;
  font-family: 'Montserrat', sans-serif;
  color: #76797e;
  font-size: 12px;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#wrapper {
  height: 100vh;
  width: 100%;
  background-color: #141922;
}

.p-90 {
  width: 100%;
  padding: 0 5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:  #76797e;
}

/* /Default */


/* MAIN */

main {
  height: calc(100vh - 90px);
}

main .main-nav {
  width: 230px;
  height: 100%;
  background-color: black;
  float:left;
}

main .main-nav .nav-top {
  height: calc(100% - 80px);
  overflow: hidden;
}

main .main-nav .nav-bottom {
  height: 80px;
  background-color: #000000);
}

main .main-nav .nav-top .nav-logo-mobile {
  display: none;
}

main section.content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  background-color: rgba(141, 36, 36, 0.548);
}

main section.content .upgrade-content {
  position: fixed;
  width: calc(100% - 230px);
  height: 90px;
  background-color:  #080b1271;
}

main section.content .covers-content {
  padding-top: 90px;
  height: 100%;
  background-color:#141922;
  overflow-y: auto;
}

/* /MAIN */


/* SIDE NAVBAR STYLE */

.main-nav .nav-top .nav-logo img {
  width: 80%;
  padding: 20px 0px;
}

.main-nav .nav-top .nav-logo-mobile img {
  width: 80%;
  padding: 5px 5px;
}

.main-nav .nav-top ul li a {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.main-nav .nav-top ul li {
  margin-bottom: 15px;
}

.main-nav .nav-top ul li img, .nav-bottom .lower-box img{
  height: 25px;
  margin-right: 10px;
}

.main-nav .nav-top #icon-top{
  margin-bottom: 20px;
}

.main-nav .nav-top #square-plus {
  background-color: gray;
  height: 25px;
  width: 25px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 40px;
}

.nav-top #icon-top .icon {
  padding-left: 10px;
}

.nav-top #icon-top .icon:hover {
  border-left: 3px solid rgb(0, 255, 55);
}

.nav-bottom .upper-box {
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.nav-bottom .lower-box {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.nav-bottom .lower-box img {
  background-color: gray;
  border-radius: 50%;
}





/* /SIDE NAVBAR STYLE */


/* UPGRADE CONTENT */

section.content .upgrade-content .btn{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade-content .btn a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.658);
  padding: 10px 50px;
  border-radius: 40px;
  margin-right: 20px;
}

.upgrade-content .btn:hover a {
  box-shadow: 2px 2px 2px 2px rgba(139, 91, 91, 0.205);
  transform: scale(1.1) perspective(1px);
}

/* /UPGRADE CONTENT */


/* FOOTER */

footer {
  height: 90px;
  background-color: #282828 ;
}

footer section.player {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* /FOOTER */


/* MEDIA QUARY */

@media all and (max-width: 600px) {
  main .main-nav .nav-top .nav-logo-mobile {
    display: block;
  }

  main .main-nav .nav-top .nav-logo {
    display: none;
  }

  main .main-nav {
    width: 50px;
  }

  main section.content, main section.content .upgrade-content {
    width: calc(100% - 50px);
  }
}




















